<app-communication></app-communication>
<div class="contenedor">
    <h1>Editar Provincia</h1>
    <app-preloader *ngIf="!loadComplete"></app-preloader>
    <form *ngIf="loadComplete" class="mx-auto" #form="ngForm" (ngSubmit)="edit()">
        <div class="mb-3 id-entity">
            <label class="form-label">ID: {{prov.id}}</label>
        </div>
        <div class="mb-3">
            <label class="me-2 form-label" for="activo">ACTIVO</label>
            <input type="checkbox" name="activo" id="activo" class="form-check-input" [(ngModel)]="prov.activo">
        </div>
        <div class="mb-3">
            <label class="form-label" for="provincia">PROVINCIA*</label>
            <input type="text" name="provincia" id="provincia" required class="form-control to-upperCase" autocomplete="off" [(ngModel)]="prov.nombre">
        </div>
        <div class="contenedor-boton">
            <button type="submit" class="btn btn-md btn-primary" [disabled]="form.invalid">Modificar</button>
        </div>
    </form>
</div>
