/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */

.contenedor {
    padding: 15px;
}

.precio {
    font-size: 1.5rem;
    margin-bottom: 0;
    color: var(--blanco-corporativo);
}

.numero-elementos{
    font-size: 1.5rem;
    padding-right: 0.5rem;
    color: var(--blanco-corporativo);
}

.numero-planta{
    font-size: 1rem;
    padding-right: 0.5rem;
    color: var(--blanco-corporativo);
}

.contenedor-iconos-precio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    background-color: var(--gris-corporativo);
    padding: 5px 15px;
    border-radius: 5px;
}

.contenedor-iconos div{
    display: flex;
    align-items: center;
}

.contenedor-iconos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
    padding: 5px 15px;
    border-radius: 5px;
}

.icono{
    height: 24px;
    filter:invert(1);
}

.ficha {
    width: 100%;
}

img {
    width: 100%;
}

.subseccion {
    padding: 10px 0;
}

.contenedor-subseccion {
    background-color: var(--gris-corporativo-claro);
    padding: 15px;
    border-radius: 10px;
}

.contenedor-subseccion i {
    padding-right: 10px;
}

.plazas-exist {
    padding-left: 10px;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){

}

/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){

}

/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){

}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){

}