<div class="contenedor">
    <div class="corporativo">
        <h2>CORPORATIVO</h2>
        <div class="links">
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contactar</a>
            <a href="#">Mapa Web</a>
        </div>
    </div>
    <div class="secciones">
        <h2>SECCIONES</h2>
        <div class="links">
            <a href="#">Publica Tu Anuncio</a>
            <a href="#">Consultar Hipoteca</a>
            <a href="#">Servicios</a>
        </div>
    </div>
</div>